@model IEnumerable<MvcMusicStudio.Models.Review>
@{Layout= "~/Views/Shared/_ReportLayout.cshtml";}
@{
    ViewBag.Title = "Index";
}

@section Title {
Reviews
}

@section CreateButton {
    @Html.ActionLink("Create New", "Create")
}

@section Report {
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerEmail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </td>
            </tr>
        </tbody>
    }

}
