@model MvcMusicStudio.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Review[0].Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review[0].ReviewerEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Review)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </td>
        </tr>
    }

</table>


<h2>Tracks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Tracks.Count > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tracks[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tracks[0].Description)
        </th>
        <th></th>
    </tr>

    @foreach (var track in Model.Tracks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => track.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => track.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = track.TrackID }) |
                @Html.ActionLink("Details", "Details", new { id = track.TrackID }) |
                @Html.ActionLink("Delete", "Delete", new { id = track.TrackID })
            </td>
        </tr>
    }

</table> 
}
