@model IEnumerable<MvcMusicStudio.Models.Album>

@{
    ViewBag.Title = "Index";
}
@using MvcMusicStudio.HtmlHelpers;
<h2>Albums</h2>

<p>
    @Html.ActionLink("Create an Album", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
            @CustomSharedHtmlHelpers.TableActionLink(Html, "Edit", "Edit", new { id = item.AlbumID}, new object { }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumID }) |
            @Html.ActionLink("Create Review", "Create", "Reviews", new { id = item.AlbumID }, new { id = item.AlbumID })
        </td>
    </tr>
}

</table>
